<table class="table table-bordered"   width="100%" cellspacing="0">
    <thead>
        <tr>
            <th> Moeda </th>
            <th> Onde Comprar </th>
            <th> Onde Vender </th>
            <th> Compar Por </th>
            <th> Vender Por </th>
            <th> LUCRO % </th>
            <!-- <th (click)="sort('lucro')"> LUCRO % 
                <span *ngIf="key =='lucro'">{{reverse ? '▲' : '▼'}}</span>
            </th> -->
            
        </tr>
    </thead>                                    
    <tbody>

        <tr *ngFor="let moeda of moBinMexc | orderBy: key : reverse; let i = index">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinCrex">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinAscendEX">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinBitbank">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinCoinex">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinCrosstower">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinCoinsbit">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <!-- <tr *ngFor="let moeda of moBinXt">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr> -->

        <tr *ngFor="let moeda of moBinBittrex">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinExmo">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinCoindcx">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinFMFW">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <!-- INÍCIO DA CREX  -->
        <tr *ngFor="let moeda of moCrexExmo">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>
       
        <tr *ngFor="let moeda of moCrexChangellyPro">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>
       
        <tr *ngFor="let moeda of moBinNovaDAX">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>
       
        <tr *ngFor="let moeda of moBinbinChaneglleypro">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>
       
        <tr *ngFor="let moeda of moCrexMEXC">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>
       
        <tr *ngFor="let moeda of moBinZTB">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moCrexAscendex">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinDecoin">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinToktok">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinP2pb2b">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinCoinField">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moCrexCoinex">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moCrexBittrex">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moCrexZTB">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moCrexFMFW">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moCrexXT">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBittrexXT">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBittrexExmo">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBittrexMexc">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBittrexCoinex">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBittrexAscendex">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBittrexChangellyPRO">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBittrexZTB">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBittrexFMFW">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moMexcCoinex">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moMexcXT">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>
        
        <tr *ngFor="let moeda of moMexcChangelleyPRO">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moMexcAscendex">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moMexcZTB">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moMexcFMFW">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

     </tbody>
</table>