<table class="table table-bordered"  width="100%" cellspacing="0">
    <thead>
        <tr>
            <th> Moeda </th>
            <th> Onde Comprar </th>
            <th> Onde Vender </th>
            <th> Compar Por </th>
            <th> Vender Por </th>
            <th> LUCRO % </th>
            
        </tr>
    </thead>                                    
    <tbody>

        <tr *ngFor="let moeda of moBinMexc; let i = index">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinCrex">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinAscendEX">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinBitbank">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinCoinex">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinCrosstower">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinCoinsbit">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinXt">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinBittrex">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinExmo">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moCrexExmo">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>
       
        <tr *ngFor="let moeda of moBinCoindcx">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>
       
        <tr *ngFor="let moeda of moBinNovaDAX">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>
       
        <tr *ngFor="let moeda of moBinbinChaneglleypro">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>
       
        <tr *ngFor="let moeda of moCrexMEXC">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>
       
        <tr *ngFor="let moeda of moBinBiconomy">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinbinBankcex">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinDecoin">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinToktok">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinP2pb2b">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>

        <tr *ngFor="let moeda of moBinCoinField">
            <td> {{ moeda.symbol }} </td>
            <td> {{ moeda.excCp }} </td>
            <td> {{ moeda.excVd }} </td>
            <td> {{ moeda.pdVd }} </td>
            <td> {{ moeda.pdCp }} </td>
            <td> {{ moeda.lucro }} </td>
        </tr>
        
     </tbody>
</table>


